/* colors */
/* font */
/* queries */
[class^='icon-'],
[class*=' icon-'],
.slick-arrow,
.select2-selection__arrow,
.lg-prev,
.lg-next
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before
{
    content: '\e900';
}

.icon-arrow-right:before
{
    content: '\e901';
}

.slick-next:before
{
    content: '\e901';
}

.slick-prev:before
{
    content: '\e900';
}

@font-face
{
    font-family: 'icomoon';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
}

body
{
    background-color: #ebd1ab;
}

button
{
    outline: none;
    background: none;
    border: none;
}

.slick-arrow
{
    font-size: 0;

    position: absolute;
    z-index: 2;
    top: 50%;

    width: 96px;
    height: 264px;
    margin-top: -132px;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 

    color: #000;
}
.slick-arrow:before
{
    font-size: 60px;
}

.slick-next
{
    right: 0;
}

.slick-prev
{
    left: 0;
}

.slick-disabled
{
    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease; 

    opacity: 0;
}

img
{
    width: 100%;
}
