<footer class="footer bg-black color-warm-grey">
    <div class="wrapper section--limited">
        <div class="footer__inner">
            <div class="footer__inner__top column-3-container">
                <div class="column">
                    <ul class="footer__inner__list">
                        <li><a href="" class="" title="Адреса и часы работы">адреса и часы работы</a></li>
                        <li><a href="" class="" title="Льготные категории">льготные категории</a></li>
                        <li><a href="" class="" title="Cтоимость билетов">стоимость билетов</a></li>
                    </ul>
                </div>
                <div class="column column--social push-down">
                    <ul class="footer__inner__list">
                        <li>музей в соцсетях</li>
                    </ul>
                    <ul class="social-buttons">
                        <li><a href="" class="" title=""><span class="icon icon-fb"></span><span class="icon-text">Facebook</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-tw"></span><span class="icon-text">Twitter</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-yb"></span><span class="icon-text">Youtube</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-inst"></span><span class="icon-text">Instagram</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-tg"></span><span class="icon-text">Tekegram</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-vk"></span><span class="icon-text">ВКонтакте</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-ok"></span><span class="icon-text">Одноклассники</span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-ta"></span><span class="icon-text">Tripadvisor</span></a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="footer__inner__list">
                        <li><a href="" class="" title="Подписаться на новости">подписаться на новости</a></li>
                        <li><a href="" class="" title="Сделать пожертвование">сделать пожертвование</a></li>
                        <li><a href="" class="" title="Оценить работу музея">оценить работу музея</a></li>
                    </ul>
                    <div class="quality-estimation">
                        <a class="" href="" title="Так держать"><span class="icon icon-thumbup"></span><span class="icon-text">Отлично</span></a>
                        <a class="" href="" title="Так себе"><span class="icon icon-thumbdown"></span><span class="icon-text">Плохо</span></a>
                    </div>
                </div>
            </div>
            <div class="footer__inner__middle logo">
                <a class="" href="index.html" title="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/svg/logo_gmii_footer_mobile.svg">
                        <img src="/images/svg/logo_gmii_footer.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    </picture>
                </a>
            </div>
            <div class="footer__inner__bottom">
                <div class="copyright">© 2009–2017 Государственный музей изобразительных искусств им. А.С. Пушкина </div>
                <a class="rules" href="" title="Правила использования материалов и изображений">Правила использования материалов и изображений</a>
            </div>
        </div>
    </div>
</footer>
    