<div class="overlay"></div>
<header class="header">
    <div class="header__notifications bg-violet-blue">
        <div class="wrapper section--limited">
            <div class="header__notifications__inner js-marquee-wrap">
                <div class="color-pale-grey js-marquee">
                    <a class="" href="" title="ОТМЕНА ЛЕКЦИИ КАПРИЧОС">ОТМЕНА ЛЕКЦИИ КАПРИЧОС.</a>
                    <a class="" href="" title="ОТМЕНА ЛЕКЦИИ КАПРИЧОС">ГОЙЯ И ДАЛИ 26 ЯНВАРЯ.</a>
                    <a class="" href="" title="ОТМЕНА ЛЕКЦИИ КАПРИЧОС">ГАЛЕРЕЯ СТАРЫХ МАСТЕРОВ.</a>
                </div>
                <div class="header__notifications-close-wrap">
                    <span class="header__notifications-close close close--white js-notifs-close"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper section--limited">
        <div class="header__controls">
            <div class="logo">
                <a class="" href="index.html" title="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    <picture>
                        <source media="(max-width: 1023px)" srcset="/images/svg/logo_gmii_mobile.svg">
                        <img src="/images/svg/logo_gmii.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    </picture>
                </a>
            </div>
            <div class="main-controls">
                <div class="main-controls-section search-wrap js-call-control">
                    <button class="main-controls__button color-black js-call-search" title="Поиск">
                        <span class="icon icon-search"><span class="icon-text">поиск</span></span>
                    </button>
                    <div class="main-controls-section-block search-block bg-primary">
                        <form class="form-search">
                            <input type="text">
                            <button type="submit"><span class="icon icon-search"><span class="icon-text">найти</span></span></button>
                        </form>
                    </div>
                </div>
                <div class="main-controls-section">
                    <a href="" class="main-controls__button color-black" title="">
                        <span class="button-text">Купить билет</span>
                    </a>
                </div>
                <div class="main-controls-section notifications-wrap js-call-control">
                    <button class="main-controls__button color-black" title="Уведомления">
                        <span class="button-text">Внимание</span>
                        <span class="notifications-badge bg-violet-blue color-pale-grey">1</span>
                    </button>
                    <div class="main-controls-section-block notifications-block bg-white">
                        <ul>
                            <li>
                                <a class="notifications-block__link" href="" title="Лекция «Василий Кандинский и абстракционизм»">
                                    <span>Лекция «Василий Кандинский и абстракционизм»</span>
                                </a>
                            </li>
                            <li>
                                <a class="notifications-block__link" href="" title="Василий Кандинский и абстракционизм">
                                    <span>Василий Кандинский и абстракционизм</span>
                                    <span>Начало в 19:00. Вход по абонементам и разовым билетам</span>
                                </a>
                            </li>
                            <li>
                                <a class="notifications-block__link" href="" title="«Багатели» Василия Кандинского">
                                    <span>«Багатели» Василия Кандинского</span>
                                    <span> Живопись на стекле, акварели и рисунки. 150‑летию со дня рождения художника Абонемент № 2 (Среды января — апреля 2013). Основные направления искусства XX века</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-controls-section settings-wrap js-call-control">
                    <button class="main-controls__button color-black" title="Настройки отображения сайта">
                        <span class="button-text">Aa</span>
                    </button>
                    <div class="main-controls-section-block settings-block bg-white">
                        <div class="settings-block__head color-black">Версии сайта</div>
                        <ul class="settings-block__primary">
                            <li><button class="active js-normal-version">Обычная версия</button></li>
                            <li><button class="js-contrast-version">Контрастная</button></li>
                        </ul>
                        <div class="settings-block__secondary">
                            <span>Крупный шрифт •</span>
                            <span>контрастные цвета •</span>
                            <span>скрыть картинки</span>
                        </div>
                    </div>
                </div>
                <div class="main-controls-section language-wrap js-call-control">
                    <button class="main-controls__button color-black" title="Выбор языка">
                        <span class="button-text">ENG</span>
                        <span class="icon icon-arrow-down"></span>
                    </button>
                    <div class="main-controls-section-block language-block bg-white">
                        <ul class="color-warm-grey-two">
                            <li>
                                <a class="" href="" title="English language">
                                    <span>Eng</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="" title="Русския язык">
                                    <span>Рус</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="" title="Langue française">
                                    <span>Fra</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="" title="Deutsche Sprache">
                                    <span>Ger</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="" title="日本語">
                                    <span>Jap</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-controls-section share-wrap js-call-control">
                    <button class="main-controls__button color-black" title="Поделиться в соц сетях">
                        <span class="icon icon-share"><span class="icon-text">поделиться</span></span>
                    </button>
                    <div class="main-controls-section-block share-block bg-white">
                        <div class="settings-block__head color-black">Поделиться</div>
                        <div class="ya-share2 color-warm-grey-two" data-services="facebook,vkontakte,twitter" ></div>

                        <div class="settings-block__head settings-block__head--social color-black">Музей в соцсетях</div>
                        <ul class="social-buttons social-buttons--menu">
                            <li><a href="" class="" title=""><span class="icon icon-fb"></span><span class="icon-text">Facebook</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-tw"></span><span class="icon-text">Twitter</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-yb"></span><span class="icon-text">Youtube</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-inst"></span><span class="icon-text">Instagram</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-tg"></span><span class="icon-text">Tekegram</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-vk"></span><span class="icon-text">ВКонтакте</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-ok"></span><span class="icon-text">Одноклассники</span></a></li>
                            <li><a href="" class="" title=""><span class="icon icon-ta"></span><span class="icon-text">Tripadvisor</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-menu-burger js-burger">
                    <span class="burger"></span>
                    <span class="notifications-badge bg-violet-blue color-pale-grey">1</span>
                </div>
            </div>
        </div>
        <div class="menu-mobile bg-primary">
            <div class="menu-mobile__inner">
                <div class="logo">
                    <a class="" href="index.html" title="Государственный музей изобразительных искусств имени А. С. Пушкина">
                        <img class="logo--mobile" width="162" height="122" src="/images/svg/logo_gmii_mobile.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    </a>
                </div>
                <ul class="menu-mobile__list color-greyish-brown-two">
                    <li>
                        <a class="notifs-show js-call-notifs" href="" title="ВНИМАНИЕ">ВНИМАНИЕ <span class="color-violet-blue">1</span></a>
                        <div class="mobile-notifs">
                            <ul class="mobile-notifs-list">
                                <li><a href="" title="">Отменена Лекция «Кандинский и абстракционизм»</a></li>
                                <li><a href="" title="">Василий Кандинский и абстракционизм перенесен.</a> <span class="color-warm-grey-two">Начало в 19:00. Вход по абонементам и разовым билетам</span></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="" href="" title="Музей">Купить билет</a></li>
                    <li><a class="" href="" title="Музей">Музей</a></li>
                    <li><a class="" href="" title="Посетителям">Посетителям</a></li>
                    <li><a class="" href="" title="Выставки и события">Выставки и события</a></li>
                    <li><a class="" href="" title="Экспозиция и коллекции">Экспозиция и коллекции</a></li>
                    <li><a class="" href="" title="Образование и наука">Образование</a></li>
                    <li><a class="" href="" title="Медиа">Медиа</a></li>
                </ul>
                <div class="menu-mobile__panels hide">
                    <div class="menu-mobile__panels__inner">
                        <div class="menu-mobile__panels__block mobile-search">
                            <form class="form-search">
                                <input class="form--mobile-search" type="text" placeholder="введите запрос">
                                <span class="close close--black js-clear-search"></span>
                            </form>
                        </div>
                        <div class="menu-mobile__panels__block mobile-settings">
                            <ul class="mobile-settings__primary color-greyish-brown-two">
                                <li><button class="active js-normal-version">Обычная версия</button></li>
                                <li><button class="js-contrast-version">Контрастная</button></li>
                            </ul>
                            <div class="mobile-settings__secondary color-greyish-brown-two">
                                <span>Крупный шрифт •</span>
                                <span>контрастные цвета •</span>
                                <span>скрыть картинки</span>
                            </div>
                        </div>
                        <div class="menu-mobile__panels__block mobile-language">
                            <ul class="color-greyish-brown-two">
                                <li>
                                    <a class="" href="" title="English language">
                                        <span>English</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="" title="Русский язык">
                                        <span>Русский</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="" title="Langue française">
                                        <span>française</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="" title="Deutsche Sprache">
                                        <span>Deutsch</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="" title="日本の">
                                        <span>日本の</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-mobile__panels__block mobile-share">

                            <div class="ya-share2 color-warm-grey-two" data-services="facebook,vkontakte,twitter" ></div>

                            <ul class="social-buttons social-buttons--menu social-buttons--mobile-menu">
                                <li><a href="" class="" title=""><span class="icon icon-fb"></span><span class="icon-text">Facebook</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-tw"></span><span class="icon-text">Twitter</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-yb"></span><span class="icon-text">Youtube</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-inst"></span><span class="icon-text">Instagram</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-tg"></span><span class="icon-text">Tekegram</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-vk"></span><span class="icon-text">ВКонтакте</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-ok"></span><span class="icon-text">Одноклассники</span></a></li>
                                <li><a href="" class="" title=""><span class="icon icon-ta"></span><span class="icon-text">Tripadvisor</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="menu-mobile__copyright color-greyish-brown-two">© 2009–2017<br>ГМИИ им. А. С. Пушкина</div>
                <div class="main-controls main-controls--mobile">
                    <div class="main-controls-section search-wrap">
                        <button class="main-controls__button color-black js-mobile-menu" data-name="mobile-search" title="Поиск">
                            <span class="icon icon-search"><span>поиск</span></span>
                        </button>
                    </div>
                    <div class="main-controls-section settings-wrap">
                        <button class="main-controls__button color-black js-mobile-menu" data-name="mobile-settings" title="Настройки отображения сайта">
                            <span class="button-text">Aa</span>
                        </button>
                    </div>
                    <div class="main-controls-section language-wrap">
                        <button class="main-controls__button color-black js-mobile-menu" data-name="mobile-language" title="Выбор языка">
                            <span class="button-text">EN</span>
                        </button>
                    </div>
                    <div class="main-controls-section share-wrap">
                        <button class="main-controls__button color-black js-mobile-menu" data-name="mobile-share" title="Поделиться в соц сетях">
                            <span class="icon icon-share"><span>поделиться</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__menu">
            <nav class="main-navigation greyish-brown" role="navigation">
                <ul class="main-navigation__inner">
                    <li><a class="hover current js-main-menu-hover" href=""  title="">Музей</a></li>
                    <li><a class="hover js-main-menu-hover" data-dropdown="dropdown-1" href=""  title="">Посетителям</a></li>
                    <li><a class="hover js-main-menu-hover" href=""  title="">Выставки</a></li>
                    <li><a class="hover js-main-menu-hover" href=""  title="">События</a></li>
                    <li><a class="hover js-main-menu-hover" data-dropdown="dropdown-2" href=""  title="">Коллекции</a></li>
                    <li><a class="hover js-main-menu-hover" href=""  title="">Образование</a></li>
                    <li><a class="hover js-main-menu-hover" href=""  title="">Наука</a></li>
                    <li><a class="hover js-main-menu-hover" href=""  title="">Медиа</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-menu-under">
        <ul id="dropdown-1" class="dropdown js-dropdown">
            <li><a class="hover--inner" href="" title=""><span>Все события</span></a></li>
            <li><a class="hover--inner" href="" title=""><span>Выставки</span></a></li>
            <li>
                <a class="hover--inner" href="" title=""><span>Экскурсии</span></a>
                <ul class="dropdown--inner">
                    <li><a href="" title=""><span>Cборные</span></a></li>
                    <li><a href="" title=""><span>Тематические</span></a></li>
                    <li><a href="" title=""><span>Экскурсионный абонемент</span></a></li>
                </ul>
            </li>
            <li><a class="hover--inner" class="hover--inner" href="" title=""><span>Лекции</span></a></li>
            <li><a class="hover--inner" href="" title=""><span>Концерты</span></a></li>
            <li><a class="hover--inner" href="" title=""><span>Кинопоказы</span></a></li>
            <li><a class="hover--inner" href="" title=""><span>Чтения</span></a></li>
        </ul>
        <ul id="dropdown-2" class="dropdown js-dropdown">
            <li><a href="" title=""><span>Пример</span></a></li>
            <li><a href="" title=""><span>Пример</span></a></li>
            <li><a href="" title=""><span>Пример</span></a></li>
        </ul>
    </div>
</header>

<section class="search--section"></section>