@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";
@import "partials/footer";
@import "partials/footer";

@include fontFace('icomoon','../fonts/icomoon', 400);

body {
  background-color: #ebd1ab;
}

button {
  outline: none;
  background: none;
  border: none;
}

.slick-arrow {
  position: absolute;
  width: 96px;
  height: 264px;
  top: 50%;
  margin-top: -132px;
  z-index: 2;
  color: #000;
  font-size: 0;

  transition: all .3s ease;

  &:before {
    font-size: 60px;
  }
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.slick-disabled {
  opacity: 0;
  transition: all .3s ease;
}

img {
  width: 100%;
}

.slide {
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  right: 60px;
  width: 290px;
  height: 200px;
  background-color: #5100d3;
  opacity: .3;
}

.towers-list {

}

.towers-pics {

}
.go-to-slide {
  position: absolute;

  background-color: #5100d3;
  opacity: .3;

  &--list {
    width: 280px;
    height: 35px;

    &--1 {
      top: 242px;
      left: 80px;
    }
    &--9 {
      top: 532px;
      left: 80px;
    }
  }
  &--tower {
    width: 100px;
    height: 70px;

    &--1 {
      top: 509px;
      right: 1075px;
    }
    &--9 {
      top: 532px;
      left: 80px;
    }
  }
}